/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

p { 
    color: rgb(85,85,85);
}

/* TRANSITION */

