/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

p { 
    color: rgb(85,85,85);
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none; /*removes bulletpoints */
    font-size: 1.5rem; /* rem is another form of pixels */
}

a {
    color: black;
    text-decoration: none;
    text-decoration: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: .6rem ; /* the space between the underline and text */
    /* text-decoration-color: rgb(81,81,81); */
}

.logo {
    font-size: 2rem;
    font-weight: 600;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav{
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

